@using PI_SITE.Models
@{
    ViewData["Title"] = "OndeEncontrar";
}


<div class="banner-topo" id="Banner-Onde"><img src="~/images/banner-onde.jpg" width="100%"></div>

<p class="titulo2 vermelho" id="TituloOnde">Quer saber onde tem produto Oishi perto de você? </p>
<div class="container">
    <div class="text-description text-lg-center text-justify">
        <strong><b>Confira no mapa a localização de nossa loja, terminais de 
            distribuição e escritórios.&nbsp;Use o filtro para selecionar o que gostaria 
            de ver no mapa e clique na localização indicada para saber como chegar até lá.</b>
        </strong>
    </div>
</div><br>

<div class="container">
    <div class="row">
        <div class="col">    
            <div class="mapaa">
                <div class="mapa">  
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.328661911507!2d-47.
                        33128268488844!3d-22.75318113812855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8998174c896b9%3A0x739b7f99b3323574!
                        2sSenac%20Americana!5e0!3m2!1spt-BR!2sbr!4v1639139300075!5m2!1spt-BR!2sbr" width="800" height="600" style="border:0;" 
                        allowfullscreen="" loading="lazy">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>